.App {
    text-align: center;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236, 236, 236);

    height: 100px;

    font-family: "Cabin", sans-serif;
}

.navLinks {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
    font-size: 20px;
}

div.navBar a {
    color: black;
    text-decoration: none;
}

h3 {
    font-size: 30px;
}

.home {
    font-family: "Cabin", sans-serif;
    font-size: 18px;

    height: 100px;
    box-shadow: 0px 3px 8px 2px rgb(88, 88, 88);
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;

    border-radius: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.shopItem {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    color: rgb(32, 32, 32);

    box-shadow: 0px 4px 14px 0px rgb(88, 88, 88);

    width: 240px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.shopButton {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    max-height: 50px;

    border: rgb(32, 32, 32);
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    margin: 6px;
}

.buyButton {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    max-height: 50px;

    border: rgb(32, 32, 32);
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    margin: 6px;
}

.shopInput {
    height: 18px;
    width: 40px;
    text-align: center;
}

.quantityHandler {
    display: flex;
    flex-direction: row;
    width: 220px;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 6px;
    margin-left: 30px;
}

.itemImg {
    padding: 30px;
    padding-top: 30px;
    font-weight: bold;
}

.cart {
    font-family: "Cabin", sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.cartItem {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    color: rgb(32, 32, 32);

    width: 380px;
    display: flex;
    align-items: center;

    box-shadow: 0px 4px 14px 0px rgb(88, 88, 88);
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.cartItem .itemImg {
    width: 80px;
    height: auto;

    padding: 30px;
    padding-top: 30px;
}

.cartItem .itemDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.cartItem .cartRemove {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    max-height: 30px;

    border: rgb(32, 32, 32);
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
}

.cartItem .cartRemove:hover {
    background-color: rgb(211, 211, 211);
}
